@import url("./font.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*General settings section*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: Plus Jakarta Sans, sans serif;
    --secondary-font: Inter, sans serif;
    --primary-font-color: #232E35;
    --secondary-font-bg-color: #7E74F1;
    --btn-primary-color: #F1F1F1;
    --icon-bg-color: #F5F3FE;
    --primary-bg-color: #FBFBFB;
    --secondary-footer-fcolor: #656D72;   
}

html {
    font-size: 16px;
    font-family: var(--secondary-font);
    background-color: white;
    display: inline-block;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    background-color: white;
}

input {
    font-family: var(--secondary-font);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

textarea {
    font-family: var(--secondary-font);
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

button {
    background-color: transparent;
    border: 0px;
    font-family: var(--primary-font);
}

button:hover {
    opacity: 0.7;
}

a {
    color: var(--primary-font-color);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

.bi {
    font-size: 1.4rem;
}

h1 {
    font-family: var(--primary-font);
    font-size: 2.2rem;
}

h2 {
    font-family: var(--primary-font);
    font-size: 2rem;
}

h3 {
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 1rem;
}

h4 {
    font-family: var(--primary-font);
    font-weight: 500;
}

span {
    color: var(--secondary-footer-fcolor);
    font-size: 0.8rem;
}

p {
    font-size: 0.95rem;
    line-height: 1.5rem;
    color: var(--secondary-footer-fcolor);
}

/*header section*/

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 41px;
}

nav {
    display: flex;
    gap: 50px;
}

.btn-resume {
    border: 1px solid var(--btn-primary-color);
    padding: 16px 24px;
    border-radius: 10px;
    margin-left: 30px;
    font-size: 0.8rem;
}


/*MAIN SECTION*/

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30vh;
}

/*hero section*/

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
    top: 10vh;
}

.gral-description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    width: 40%;
    font: var(--primary-font-color);
    line-height: 1.7;
    position: relative;
    left: -100px;
}


.h1-name {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.violet-smith {
    color: var(--secondary-font-bg-color);
}

.portrait-photo {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    right: 14%;
    height: 2vh;
}

.img-front {
    position: absolute;
    z-index: 2;
    display: flex;
    flex: 1;
    height: 36vh;
}

.img-back {
    position: absolute;
    z-index: 1;
    display: flex;
    height: 40vh;
    flex: 1;
    top: -12px;
    left: -20px;
}

/*services section*/

.services {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 5%;
    gap: 2rem;
    background-color: var(--primary-bg-color);
}

.services-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.services-div .bi {
    background-color: var(--icon-bg-color);
    color: var(--secondary-font-bg-color);
    padding: 15px 20px;
    border-radius: 10px;
}

.uiux-design {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    padding: 40px;
}

.servdiv {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    padding: 40px;
}

/*portfolio section*/

.portfolio {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 5vh;
}

.header-pf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.portfolio-images {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.passing-bi .bi {
    background-color: var(--icon-bg-color);
    color: var(--secondary-font-bg-color);
    padding: 15px 20px;
    border-radius: 20px;
    font-size: 1rem;
}

/*experience section*/

.experience {
    background-color: var(--primary-bg-color);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 10%;
    padding: 9%;
    width: 100%;
}

.exp-title-nav {
    display: flex;
    flex-direction: column;
}

.experience-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20% 10%;
}

.apple-exp {
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: relative;
        top: 20px;
}

.apple-a {
    background-color: white;
    color: var(--secondary-font-bg-color);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    padding: 5%;
    border-radius: 10px;
}

.bi-chevron-right {
    font-size: 0.8rem;
}

.apple-exp ul {
    color: var(--secondary-footer-fcolor);
}

.go-a {
    border: 1px solid var(--btn-primary-color);
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 10px;
}

.swift-a {
    border: 1px solid var(--btn-primary-color);
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 10px;
}

.t-span {
    font-weight: 500;
}

/*blog section*/

.blog {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.my-articles {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 40px;
    width: 80%;
}

.blog-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    border:  1px solid var(--btn-primary-color);
}

.article-text {
    padding: 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 10px;
}

.continue-reading {
    position: relative;
    left: 30%;
}

/*clients testimonials section*/
.my-clients-testimonials {
    background-color: var(--primary-bg-color);
    padding: 7%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 5vw;
    border-radius: 20px;
}

.testimonials-div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 4vw;
    position: relative;
    top: 20px;
}

.testimonial {
    background-color: #fff;
    padding: 3%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

.testimonial img {
    border-radius: 40px;
    width: 6vw;
    height: 13vh;
    position: relative;
    top: -25%;
    right: -30%;
}

.client-name {
    color: var(--primary-font-color);
}

/*form section*/

.section-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 20%;
    flex: 1;
    background-color: var(--primary-bg-color);
    padding: 4%;
    border-radius: 20px;
}

.message-form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
}

.div-info {
    display: flex;
    gap: 10px;
}

.info-contact-form {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    flex: 1;
}

.info-contact-form .bi {
    background-color: var(--icon-bg-color);
    color: var(--secondary-font-bg-color);
    padding: 15px 20px;
    border-radius: 10px;
}

.section-form button {
    background-color: var(--secondary-font-bg-color);
    color: var(--btn-primary-color);
    padding: 10px 20px;
}

/*FOOTER SECTION*/

footer {
    color: var(--secondary-footer-fcolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

/*media queries*/

@media screen and (max-width: 1024px){
    html{
        font-size: 12px;
    };

    .logo {
        width: 0.7vw;
    }

    .header-nav {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    html {
        font-size: 8px;
    }

    .logo {
        width: 10vw;
    }

    
}